
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$font-cabin: 'Cabin', sans-serif;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//solid colours
$java: #17D6B6;
$default: #EEEEEE;
$big-stone: #142433;
$malachite: #00D054;
$botticelli: #D3E0E9;
$ripe-lemon: #F0CA0E;
$pomegranate: #F6471E;
$white-smoke: #F5F5F5;
$complete-white: #fff;
$black-border: #000000;
$silver-chalice: #A6A6A6;
$azure-radiance: #009CFC;

//transparent colours
$totally-transparent: rgba(0, 0, 0, 0);
$transparent-white: rgba(255, 255, 255, 0.1);
/*
//Gradients
background: #009cfc; // Old browsers
background: -moz-linear-gradient(-45deg, #009cfc 0%, #00ffcd 100%); // FF3.6-15
background: -webkit-linear-gradient(-45deg, #009cfc 0%,#00ffcd 100%); //  Chrome10-25,Safari5.1-6
background: linear-gradient(135deg, #009cfc 0%,#00ffcd 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cfc', endColorstr='#00ffcd',GradientType=1 ); // IE6-9 fallback on horizontal gradient
*/
