// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:100,500,900);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: $white-smoke;
    color: $malachite;
}

.navbar-fixed-bottom {
    -webkit-box-shadow: -1px -1px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 20px -10px rgba(0, 0, 0, 0.75);
}

strong.permission {
    color: $big-stone;
    display: block;
    font-size: 12px;
    margin-top: -20px;
    position: absolute;
    right: 66px;
    width: 140px;
    text-align: right;
}

span.ion-connection-bars {
    font-size: 35px;
    float: left;
    margin: 0 10px 0 0;
}

.returning-user-container {
    text-align: center;
    color: $complete-black;
    h1#user-firstname {
        font-size: 50px;
        font-weight: 900;
    }
    .quick-insights-navigations {
        margin-bottom: 20px;
    }
    ul.horizontal-navigation {
        margin: 40px 0 40px 0;
        font-size: 22px;
        padding: 10px;
        font-weight: 900;
        li.nav-items--publications,
        li.nav-items--followers,
        li.nav-items--collaborations {
            display: inline-block;
            margin: 0 70px 0 70px;
        }
    }
}

.top-banner {
    width: 290px;
    height: 300px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    margin-bottom: 50px;
    text-align: right;
    background: #00fcc0;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00fcc0 0%, #29b8e5 50%, #007aff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #00fcc0 0%, #29b8e5 50%, #007aff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #00fcc0 0%, #29b8e5 50%, #007aff 100%);
    -webkit-box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.4);
    h1 {
        font-weight: 900;
        color: $complete-white;
        padding: 20px 20px 0 0;
    }
    p {
        color: $complete-white;
        margin: 0 20px 0 0;
        max-width: 300px;
        text-align: right;
        float: right;
        font-size: 22px;
    }
    button.get-started {
        background-color: rgba(255, 255, 255, 0.2);
        width: 110px;
        margin: 20px;
        border: none;
        position: absolute;
        border-radius: 4px;
        padding: 10px;
        color: $complete-white;
        top: 190px;
        float: right;
        right: 0px;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }
    button.get-started:hover {
        -webkit-box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }
}

.no-story-placeholder {
    color: $malachite;
    text-align: center;
    border: 3px dashed $malachite;
    width: 100%;
    display: inline-block;
    float: right;
    padding: 130px;
    max-width: 800px;
}

.story-placeholder {
    width: 100%;
    display: inline-block;
    float: right;
    max-width: 800px;
}


/* - - - - UI Kit - - - - */

.uk-notify-message-success {
    text-align: center;
    color: $white-smoke;
    background-color: $brand-success;
    -webkit-box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    height: 50px;
    padding: 14px;
}

.uk-notify-message-warning {
    text-align: center;
    color: $white-smoke;
    background-color: $brand-warning;
    -webkit-box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    height: 50px;
    padding: 14px;
}

.uk-notify-message-danger {
    text-align: center;
    color: $white-smoke;
    background-color: $brand-danger;
    -webkit-box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 26px -13px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    height: 50px;
    padding: 14px;
}

#app {
    margin-bottom: 150px;
    animation: fadein 500ms;
    -moz-animation: fadein 500ms;
    -webkit-animation: fadein 500ms;
    -o-animation: fadein 500ms;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Firefox */

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Safari, Chrome */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 11px;
    margin-bottom: 2px;
}

li>a {
    color: inherit;
    /* colors for links too */
    text-decoration: inherit;
    /* no underline */
}

a:hover {
    color: inherit;
    /* colors for links too */
    text-decoration: inherit;
    /* no underline */
    background-color: none;
}

.menu-caption {
    display: block !important;
    font-size: 12px;
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: -40px;
}

div.notifications {
    float: right;
    font-size: 18px;
    padding: 6px;
    border: 1px solid $complete-black;
    margin: -10px 0 0 0;
    border-radius: 2px;
    color: $complete-black;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

div.notifications:hover {
    color: $complete-white;
    background-color: $complete-black;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

span.status-online {
    color: $malachite;
}

span.status-offline {
    color: $pomegranate;
}

img.navbar-avatar {
    width: 50px;
    height: 50px;
    margin: 8px 4px 0 8px;
    border-radius: 4px;
}

.icon-set {
    padding: 20px;
    font-size: 30px;
    font-style: normal;
}

.icon-set:hover {
    color: $big-stone;
}

.navbar-default {
    #home-menu {
        margin-right: 40px;
    }
    ul,
    ol {
        margin-top: 10px;
        margin-bottom: 11px;
        text-decoration: none;
        list-style: none;
    }
}

.center {
    text-align: center;
}

.media-library-wrap {
    width: 100%;
    margin: 10px;
    max-width: 300px;
    border-radius: 4px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.media-library-wrap:hover {
    border: 4px solid $azure-radiance;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

@media all and (max-width: 2000px) {
    .navbar-default {
        span {
            display: none;
        }
    }
}

@media all and (min-width: 320px) {
    .navbar-default {
        span {
            display: none;
        }
    }
}

#admin-panel {
    margin-top: 75px;
}

.blog-post-wrapper {
    top: 20px;
    position: relative;
}

.form-group.post-title {
    position: absolute;
    width: 70%;
    margin: 15%;
    padding: 20px;
    background: $complete-white;
    border-radius: 2px;
    h1 {
        font-weight: 600;
        color: $complete-black;
    }
}

.story-editor,
.story-collaborate-label,
.story-label,
.tag-label {
    display: block;
    h1 {
        font-size: 30px;
        font-weight: 600;
        color: $complete-black;
    }
}

input[type="file"] {
    display: none;
}

.ion-camera::before {
    font-size: 20px;
}

img#upload-cover-preview {
    min-width: 1140px;
    max-height: 444px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

img#upload-cover-widgetPreview {
    max-width: 234px;
    display: block;
    border-radius: 4px;
    min-height: 150px;
}

#cover-upload {
    width: 100%;
    text-align: center;
    border-radius: 2px;
    color: $complete-black;
    background-color: $transparent-grey;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#share-link {
    display: none;
    margin: 10px 0 0 0;
    width: 100%;
}

#invite-modal {
    h2,
    p {
        font-weight: 900;
        color: $complete-black;
    }
}

.uk-modal-dialog {
    top: 20%;
}

span.dot {
    color: $pomegranate;
}

#post-body {
    width: 100%;
}

#post-editor,
#post-title,
#post-title-input,
#post-tags,
#post-tags-input {
    width: 100%;
    max-width: 850px;
    margin-bottom: 8px;
}

#post-title-input {
    width: 100%;
    max-width: 850px;
    margin-bottom: 8px;
    height: 45px;
    font-size: 20px;
    color: #F6471E;
}

.widget-area {
    border: 2px solid;
    padding: 10px;
    border-radius: 6px;
    background: #fff;
}

.btn-utility {
    background: $transparent-grey;
    border: none;
    border-radius: 2px;
    color: #000;
}

.ion-share,
.ion-email,
.ion-paper-airplane {
    font-size: 18px;
}

#invite-modal-input {
    margin-bottom: 10px;
}

.form-wrap {
    display: inline-block;
    max-width: 740px;
    width: 100%;
}

#post-editor-sidebar {
    position: relative;
    right: 16px;
    top: 30px;
    float: right;
    margin-bottom: 100px;
    .featured-image-widget {
        max-width: 400px;
        min-width: 400px;
        height: 250px;
        #image-preview {
            top: 0px;
            width: 100%;
            max-height: 200px;
            img.image-box {
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
            }
        }
        #widget-message {
            color: $complete-white;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 14px;
            background: #009cfc;
            /* Old browsers */
            background: -moz-linear-gradient(-45deg, #009cfc 0%, #65ce8f 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #009cfc 0%, #65ce8f 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #009cfc 0%, #65ce8f 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
    .btn-publish {
        width: 100%;
        height: 50px;
        color: #eee;
        font-size: 20px;
        margin-top: 10px;
        border-radius: 2px;
        text-transform: uppercase;
        background-color: #009CFC;
    }
    .btn-publish:hover {
        border: 1px solid $azure-radiance;
        background-color: #1fa9ff !important;
    }
}

@media only screen and (max-width: 1200px) {
    #post-editor-sidebar {
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 200px;
    }
}

.success-message {
    width: 100%;
    text-align: center;
    animation: slideInAlert 500ms;
    -moz-animation: slideInAlert 500ms;
    -webkit-animation: slideInAlert 500ms;
    background-color: $brand-success;
    color: #fff;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
}

.error-message {
    width: 100%;
    text-align: center;
    animation: slideInAlert 500ms;
    -moz-animation: slideInAlert 500ms;
    -webkit-animation: slideInAlert 500ms;
    background-color: $brand-danger;
    color: #fff;
    top: -25px;
    left: 0;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
}

@keyframes slideInAlert {
    0% {
        top: -55px;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes slideInAlert {
    0% {
        top: -55px;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes slideInAlert {
    0% {
        top: -55px;
    }
    100% {
        top: 0;
    }
}


/*Dashboard Post list*/

.edit-editable-post {
    background-color: $big-stone;
    color: $complete-white;
    padding: 4px;
    border-radius: 2px;
}

.edit-editable-post:before {
    font-family: 'ionicons';
    content: '\f2bf';
    margin-right: 4px;
}

.view-editable-post {
    padding: 4px;
    border-radius: 2px;
    color: $complete-white;
    background-color: $java;
}

.view-editable-post:before {
    font-family: 'ionicons';
    content: '\f133';
    margin-right: 4px;
}

.view-editable-post:hover {
    color: $white-smoke;
}


/* Dashboard main section */

#graph-container {
    margin-bottom: 50px;
}

.dashboard-main {
    margin-bottom: 150px;
}

img.dashboard-post-cover {
    width: 100%;
    max-height: 220px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media(max-width: 990px) {
    img.dashboard-post-cover {
        max-height: 400px;
    }
}

.latest-posts-body {
    padding: 0px;
    margin: 28px;
    border-radius: 6px;
    box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.4);
}

figure:hover>.latest-posts-excerpt {
    color: $complete-white;
    cursor: pointer;
    background-color: #009CFC;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.latest-posts-excerpt {
    background-color: $complete-white;
    padding: 8px;
    color: $complete-black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.insights-tab {
    height: auto;
    margin-bottom: 50px;
    border-radius: 4px;
    background-color: $complete-white;
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.4);
}

.insights-tab-header {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid;
}

.insights-tab-body {
    color: $big-stone;
    padding: 8px;
}

.social-media-widget-container {
    height: 100px;
    border-bottom: 1px solid;
}

.social-media-widget {
    color: $big-stone;
}

span.social-media-widget-icon {
    font-size: 20px;
}

.btn-editing-choice {
    float: right;
    top: 16px;
}

#editor-choice {
    color: $big-stone;
}

#editor-choice:active,
#editor-choice:visited {
    color: $complete-white;
    background-color: $azure-radiance;
}

#editor-choice:hover {
    border-color: $azure-radiance;
    color: $complete-white;
    background-color: $azure-radiance;
}

.dropdown-menu {
    min-width: 195px;
}

.dropdown-menu>li {
    padding: 0 0 0 10px;
}

.dropdown-menu>li:hover {
    cursor: pointer;
    color: $complete-white;
    background-color: $azure-radiance;
}


/* - - - - Firepad Styling - - - - */


/* --Realtime Monitoring System-- */

.navbar-publishing-tools {
    background: #fff;
    padding: 2px 6% 25px 6%;
    width: 100%;
    -webkit-box-shadow: 0px 8px 28px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 28px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 28px -20px rgba(0, 0, 0, 0.75);
}

.system-status {
    color: $big-stone;
    position: relative;
    top: 8px;
    display: inline-block;
}

#system-status-link {
    display: block;
}

#firepad {
    height: 500px;
}

.powered-by-firepad {
    display: none;
}


/* --Toolbar-- */

.firepad-toolbar {
    height: 82px;
    line-height: 82px;
    padding-left: 10px;
    background: $azure-radiance;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.firepad-btn-group>.firepad-btn:last-child {
    border-radius: 0;
}

.firepad-btn-group>.firepad-btn:first-child {
    border-radius: 0;
}

a.firepad-btn,
a.firepad-btn:visited {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 6px 6px 4px 6px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    background-color: #fcfcfc;
    border: 1px solid #c9c9c9;
    border-bottom-width: 2px;
    color: #9c9c9c;
}

a.firepad-btn:hover,
a.firepad-btn:active {
    background-color: rgba(0, 123, 199, 0.6);
}

.firepad-richtext .CodeMirror {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-shadow: 0px 2px 30px -16px rgba(0, 0, 0, 0.75);
}

.firepad-btn-group>.firepad-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: -1px;
    background: $azure-radiance;
    color: #f6f6f6;
    border: none;
}


/* --Firepad user list-- */

.firepad-userlist {
    /* default height */
    height: 400px;
    min-width: 175px;
    background: #ebebeb;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ebebeb), color-stop(93%, #eaeaea), color-stop(100%, #d9d9d9));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
    /* IE10+ */
    background: linear-gradient(to right, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
    /* W3C */
    color: #404040;
}

.firepad-userlist {
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: normal;
}

.firepad-userlist-heading {
    margin: 20px 15px 0;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #c9c9c9;
}

.firepad-userlist-users {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 38px;
    bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.firepad-userlist-user {
    position: relative;
    margin: 3px 0;
    height: 32px;
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 5px;
}

.firepad-userlist-color-indicator {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input.firepad-userlist-name-input {
    position: absolute;
    left: 38px;
    top: 0;
    width: 105px;
    height: 20px;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 14px;
    padding: 1px;
}

.firepad-userlist-name-hint {
    position: absolute;
    left: 38px;
    top: 23px;
    width: 300px;
    /* I'd rather it clip than wrap. */
    font-size: 9px;
    line-height: 11px;
}

.firepad-userlist-name {
    position: absolute;
    top: 2px;
    left: 38px;
    width: 95px;
    font-size: 13px;
}


/* Post List*/

input[type="search"] {
    border: none;
    border-radius: 2px;
    background-color: #e8e8e8;
    padding: 6px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border-radius: 4px;
    border: 2px solid #BFBFBF;
    background: none !important;
}

select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    padding: 4px;
    border-radius: 4px;
    background: none;
    border: 2px solid #BFBFBF;
}